*{
    font-family: 'Borel', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}
/* navbar section */
.nav-bar-pc{
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
}
.nav-bar-pc a{
    text-decoration: none;
    float: right;
}
 .nav-bar-pc-right{
    padding: 16px;
    color: black;
    float: left;

}
.nav-bar-pc .nav-bar-pc-ca{
    font-size: 32px;
    float: left;
}
.logo-pc{
    height:70%;
    float: left;
}


/* Hero section */

.hero{
    background-color: rgb(205, 200, 200);
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 24px;
    display: flex;
    width: 100%;


}
.banner-photo{
    width: 60%;
    padding-right: 24px;
}

.button-banner{
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
}


/* course section */
.card{
    background-color: white; 
    width: 40%;
    
}
.card-pic{
    height: auto; 
    display: block; 
    object-fit: cover;
     width: 100%;
}
.card-top{
    display: flex;
    padding-left: 72px; 
    padding-right: 72px;
}

.card-botttom{
    display: flex;
    padding-left: 72px; 
    padding-right: 72px;
}

/* thisis section */
.thesis-card :hover{
    background-color: rgb(169, 169, 170);
}
.thesis-card{
    display: flex;
    width: 65%;
}
.thesis-card img{
    height: auto;
    width: 35%;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.thesis-card-p{
    width: 65%;
}

/* info section */
.card-info{
    width: 40%;
    display:flex;

}
.card-info :hover{
    background-color: rgb(169, 169, 170);
}
.info-right-pic{
    height: auto;
    width: 35%;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
}
.card-info-p{
    width: 65%;
}
.card-info a{
    padding-top: 8%;
}
.card-info p{
    padding-top: 8px;
}
.info{
    padding-top: 32px;
    padding-left: 24px;
    padding-bottom: 32px;
    width: 100%;
    display: flex;
}
.info-main{
    padding-right: 24px;
}
/* footer */
footer{
    padding-top: 16px;
    padding-left: 24px;
    border-top:1px solid;
    border-color: lightgray;
    display: flex;
    justify-content: space-between;
}